{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block page %}
  {% if current_user.has_permission('discussion_admin') %}
  <div class="row">
    <a href="{{ url_for("notes_bp.add_discussion", lessonid=lesson.id) }}" class="btn-large bg-primary col s12">Add Discussion</a>
  </div>
  {% endif %}
  {% if current_user.has_permission('lecture_admin') %}
  <div class="row">
    <a href="{{ url_for("notes_bp.add_lecture") }}" class="btn-large bg-primary col s12">Add Lecture</a>
  </div>
  {% endif %}
{% endblock %}
