{% extends 'layout.html' %}
{% from 'macros.html' import render_lesson_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block main %}
  {{ render_lesson_tabs('admin', lesson.id) }}
  <div class="container">
    <ul>
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% if current_user.has_permission('discussion_admin') %}
      <a href="{{ url_for("notes_bp.add_discussion", lessonid=lesson.id) }}" class="btn">Add Discussion</a>
    {% endif %}
    {% if current_user.has_permission('lecture_admin') %}
        <a href="{{ url_for("notes_bp.add_lecture") }}" class="btn">Add Lecture</a>
    {% endif %}
  </div>
{% endblock %}