{% set small=true %}
{% set card=true %}
{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Login{% endblock %}
{% block main %}
  <div class="container">
    <h2 class="content_title" style="padding-top: 7.4vh; padding-bottom: 5vh; margin-top: 0; margin-bottom: 0;">login</h2>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    <form method="post">
      {% for field in form %}
        {{ render_field(field, useLabel=true) }}
      {% endfor %}
      <div class="row">
        <button type="submit" class="waves-effect waves-light btn-large z-depth-0 center" style="width: 20%; margin-left: 40%; padding: 0;">login</button>
      </div>
    </form>
  </div>
  <a href="/signup">
    <div class="card-action main-action" style="padding-left: 0">
      <span style="margin-left: 13%; width: 20%">create an account</span>
      <i class="material-icons right chevron_right">chevron_right</i>
    </div>
  </a>
{% endblock %}
