{% set small=true %}
{% extends 'layout.html' %}
{% set card=true %}
{% from 'macros.html' import render_field %}
{% block title %}Sign Up!{% endblock %}
{% block main %}
  <div class="container">
    <br>
    <h2 class="content_title">Sign Up</h2>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    <form method="post" class="row">
      {% for field in form %}
        {{ render_field(field, useLabel=true) }}
      {% endfor %}
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <button type="submit" class="waves-effect waves-light btn-large col s8">Sign Up</button>
        <div class="col s2">&nbsp;</div>
      </div>
    </form>
  </div>
  <a href="/login">
    <div class="card-action main-action">
      Log In
      <i class="material-icons right chevron_right">chevron_right</i>
    </div>
  </a>
{% endblock %}
{% block js %}
  <script>
    $(document).ready(function () {
        $("option[value='-1']").attr("disabled", "true")
        $('select').material_select();
    })
  </script>
{% endblock %}
