{% extends 'layout.html' %}
{% from 'macros.html' import render_lesson_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block main %}
  {{ render_lesson_tabs('qa', lesson.id) }}
  <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
  </ul>
  <a href="{{ url_for("qa_bp.add_question", lessonid=lesson.id) }}" class="btn">Add Question</a>
  {% for key in questions %}
    <div class="section">
      <h5>{{ key }}</h5>
      <table>
        <thead>
          <tr>
            <th>Question</th>
            <th>Replies</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for data in questions[key] %}
            <tr>
              <td>
                <h5><a href="{{ url_for('qa_bp.detail', lessonid=lesson.id, qid=data['question'].id) }}">{{ data['question'].name }}</a></h5>
                <p>{{ data['question'].content[:100] }}</p>
              </td>
              <td>{{ data['question'].number_of_posts }}</td>
              {% if data['question'].name in last_posts.keys() %}
                <td>{{ last_posts[data['question'].name].datetime }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}