{% extends 'layout.html' %}
{% from 'macros.html' import render_lesson_tabs %}
{% block title %}Chemistry 101{% endblock %}
{% block main %}
  {{ render_lesson_tabs('qa') }}
  <div class="section">
    <h5>Lecture 1</h5>
    <table>
      <thead>
        <tr>
          <th>Forums</th>
          <th>Replies</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h5><a href="#">Balancing Equations Help?</a></h5>
            <p>Does anyone know how to balance the equation on assignment 5? He said a similar question will be on the exam.</p>
          </td>
          <td>1</td>
          <td>16/02/2001</td>
        </tr>
        <tr>
          <td>
            <h5><a href="#">Balancing Equations Help?</a></h5>
            <p>Does anyone know how to balance the equation on assignment 5? He said a similar question will be on the exam.</p>
          </td>
          <td>1</td>
          <td>16/02/2001</td>
        </tr>
        <tr>
          <td>
            <h5><a href="#">Balancing Equations Help?</a></h5>
            <p>Does anyone know how to balance the equation on assignment 5? He said a similar question will be on the exam.</p>
          </td>
          <td>1</td>
          <td>16/02/2001</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <h5>Lecture 2</h5>
    <table>
      <thead>
        <tr>
          <th>Forums</th>
          <th>Replies</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h5><a href="#">Balancing Equations Help?</a></h5>
            <p>Does anyone know how to balance the equation on assignment 5? He said a similar question will be on the exam.</p>
          </td>
          <td>1</td>
          <td>16/02/2001</td>
        </tr>
        <tr>
          <td>
            <h5><a href="#">Balancing Equations Help?</a></h5>
            <p>Does anyone know how to balance the equation on assignment 5? He said a similar question will be on the exam.</p>
          </td>
          <td>1</td>
          <td>16/02/2001</td>
        </tr>
        <tr>
          <td>
            <h5><a href="#">Balancing Equations Help?</a></h5>
            <p>Does anyone know how to balance the equation on assignment 5? He said a similar question will be on the exam.</p>
          </td>
          <td>1</td>
          <td>16/02/2001</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}