{% set active = "forum" %}
{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs, render_field, render_semester_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block page %}
<div class="row">
  <div class="col s2">
    {% if semesters|length > 0 %}
      {{ render_semester_tabs(semesters, semester_enum) }}
    {% else %}
      <h5>No Questions Found</h5>
    {% endif %}
  </div>
  <div class="col s10">
    <div class="card-panel">
        <h3 class="content_title">Add a Question</h3>
        <form method="post" action="{{ url_for("qa_bp.add_question", lessonid=lesson.id) }}">
          {% for field in form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="row">
            <button type="submit" class="waves-effect waves-light btn col s12">Add Question</button>
          </div>
        </form>
    </div>
    {% for q in questions %}
    <br>
      <div class="card-panel question" semester="{{ q.semester }}" year="{{ q.year }}">
        <div class="row">
          <span class="primary poster_name">{{q.user.first_name + " " + q.user.last_name}}</span>
          <span class="lightBlue right q_document">{{q.document}}</span>
        </div>
        <div class="row">
          <h5 class="grey-text q_question">{{q.name}}</h5>
        </div>
        <div class="row">
          <p>{{q.content}}</p>
        </div>
        <div class="divider bg-primary"></div>
        {% for reply in q.replies() %}
          <div class="comment">
            <div class="row comment_name primary">{{ reply.user.first_name + " " + reply.user.last_name }} <span class="lightBlue right">{{reply.datetime.date()}}</span></div>
            <p class="grey-text">{{ reply.content }}</p>
          </div>
          {% if loop.last %}
            <div class="divider bg-primary"></div><br>
          {% else %}
            <div class="divider light-grey"></div>
          {% endif %}
        {% endfor %}
        <form class=""method="post" action="{{ url_for("qa_bp.add_reply", questionid=q.id) }}">
          <h6 class="primary">Type a reply</h6>
            {{ render_field(comment_form.csrf_token) }}
            <div class="input-field">
              {{ comment_form.content(id="reply-content-" + q.id|string) }}
              <label for="reply-content-{{ q.id|string }}">{{ comment_form.content.label.text }}</label>

            </div>
          <div class="row">
            <button type="submit" class="waves-effect waves-light btn col s12">Add Reply</button>
          </div>
        </form>
      </div>

    {% endfor %}
</div>
</div>
{% endblock %}
{% block js %}
{{super()}}
 {# <script src="{{ url_for("static", filename="js/get_discussions.js") }}"></script>
  <script>
    $().ready(
      function () {
        $("#discussion").prop('disabled', true);
        $('select').material_select();

        if ($("#lecture").val() !== "-1") {
          getDiscussions($("#lecture").val(), {}, addQuestionDiscussionSelectFieldUpdate);

        }
        $("#lecture").change(function () {
          if ($("#lecture").val() !== "-1") {
              getDiscussions($("#lecture").val(), {}, addQuestionDiscussionSelectFieldUpdate);
          } else {
            $("#discussion").prop('disabled', true);
            $("#discussion").empty();
            $('select').material_select();

          }

        });
        var active = $('.semester-tab.active');
        var year = $(active).attr('year');
        var semester = $(active).attr('semester');
        $('.question').hide();
        $('.question[year="' + year + '"][semester="' + semester + '"]').show();
        $('.semester-tab').click(
          function (e) {
            var year = $(this).attr('year');
            var semester = $(this).attr('semester');
            $('.question').hide();
            $('.question[year="' + year + '"][semester="' + semester + '"]').show();
          }
        );
      }
    )
  </script> #}
{% endblock %}
