{% set active="studygroups"%}
{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs, render_field %}
{% block title %}{{ lesson.lesson_name}}{% endblock %}
{% block page %}
  <div class="row valign-wrapper">
    <a class="waves-effect waves-light btn-large modal-trigger col s1 bg-primary" href="#newGroupModal"><i class="material-icons">add</i></a>
    <div class="col s11 vaglign desc">
      <h5>Add study group</h5>
    </div>
  </div>

  <div class="modal modal-fixed-footer" id="newGroupModal">
    <div class="modal-content">
      <div class="container">
        <h3 class="center">Create a new study group</h3><br>
        <form method="post" action="{{ url_for("studygroups_bp.add_studygroup") }}">
          {% for field in form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="row">
            <div class="col s2">&nbsp;</div>
            <button type="submit" class="waves-effect waves-light btn-large col s8">Add Study Group</button>
            <div class="col s2">&nbsp;</div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>
    {% for sg in study_groups %}
    {% set x = sg.get_next_session().datetime %}
    <div class="row valign-wrapper">
      <div class="col s1">
        {# <i class="material-icons md-48 valign">group</i> #}
        <img class="responsive-img" src="https://storage.googleapis.com/material-icons/external-assets/v2/icons/svg/ic_group_black_48px.svg" alt="group logo">
      </div>
      <div class="col s7">
        <h5 class="filename_title">Group {{sg.id}}</h5>
        <p class="desc">{{sg.location}}</p>
        {% set sessions = sg.get_all_upcoming_sessions() %}
        <p class="desc">{% if sessions %}{{ sessions[0].datetime }}{% else %}No meetings scheduled{% endif %}</p>
      </div>

        <div class="col s2">
          <a href="{{url_for('studygroups_bp.view', lessonid=lesson.id)}}" class="waves-effect waves-light btn bg-primary col s12">View</a>
        </div>
        {% if not sg.founder.user_id == current_user.user_id %}
        <div class="col s2">
          {% if sg.is_member(current_user) %}
            <a href="{{ url_for("studygroups_bp.leave",sgid=sg.id) }}" class="waves-effect waves-light btn bg-primary col s12">Leave Group</a>
          {% else %}
            <a href="{{ url_for("studygroups_bp.join",sgid=sg.id) }}" class="waves-effect waves-light btn bg-primary col s12">Join Group</a>
          {% endif %}
        </div>
        {% endif %}
        <div class="col s2">
          <a href="#{{sg.id}}" class="waves-effect waves-light btn bg-primary col s12 modal-trigger">
            Contact Organiser
          </a>
        </div>

    </div>
    {% endfor %}

    {% for sg in study_groups %}
      {#{% if sg.founder.user_id == current_user.user_id %}
        <div class="modal modal-fixed-footer" id="add-session-{{sg.id}}">
          <div class="modal-content">
            <div class="container">
              <form action="{{ url_for("studygroups_bp.add_studygroup_session", studygroupid=sg.id) }}" method="POST">
                {% for field in studygroup_session_form %}
                  {{ render_field(field) }}
                {% endfor %}
                <div class="row">
                  <div class="col s2">&nbsp;</div>
                  <button type="submit" class="waves-effect waves-light btn-large col s8">Add Session</button>
                  <div class="col s2">&nbsp;</div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
          </div>
        </div>
      {% endif %}

      <div class="modal modal-fixed-footer" id="upcoming-sessions-{{sg.id}}">
        <div class="modal-content">
          <div class="container">
            <h3>Scheduled meetings</h3>
            <ul class="collection">
              {% if sg.founder.user_id == current_user.user_id %}
                {% for session in sg.get_all_upcoming_sessions() %}
                  <li class="collection-item">{{ session.datetime }}{% if session.cancelled %}<span class="red-text right">Cancelled</span>{% else %}<a href="{{ url_for("studygroups_bp.cancel", sessionid=session.id) }}" class="right">Cancel</a>{% endif %}</li>
                {% endfor %}
              {% else %}
                {% for session in sg.get_all_upcoming_sessions() %}
                  <li class="collection-item">{{ session.datetime }}{% if session.cancelled %} - Cancelled {% endif %}</li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
        </div>
      </div> #}

      <div class="modal" id="{{sg.id}}">
        <div class="modal-content">
          <div class="container">
            <h3 class="center">Contact The Organiser</h3><br>
            <form action="{{ url_for("studygroups_bp.contact_organiser", lessonid=lesson.id) }}" method="post">
              {{ render_field(contact_form.csrf_token) }}
              {{ contact_form.study_group(value=sg.id) }}

              {{ render_field(contact_form.message) }}

              <div class="row">
                <div class="col s2">&nbsp;</div>
                <button type="submit" class="waves-effect waves-light btn-large col s8">Contact</button>
                <div class="col s2">&nbsp;</div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
        </div>
      </div>
    {% else %}
    <h4 class="center">Sorry, no study groups found</h4>
    {% endfor %}
{% endblock %}

{% block js %}
  {{super()}}
  <script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  })
  </script>
{% endblock %}
