{% set active="studygroups"%}
{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs, render_field %}
{% block title %}{{ lesson.lesson_name}}{% endblock %}
{% block page %}
  <div class="row">
    <a class="waves-effect waves-light btn modal-trigger col s12 bg-primary" href="#newGroupModal">Upload an exam</a>
  </div>

  <div class="modal" id="newGroupModal">
    <div class="modal-content">
      <div class="container">
        <h3 class="center">Create a new study group</h3><br>
        <form method="post" action="{{ url_for("studygroups_bp.add_studygroup") }}">
          {% for field in form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="row">
            <div class="col s2">&nbsp;</div>
            <button type="submit" class="waves-effect waves-light btn-large col s8">Add Study Group</button>
            <div class="col s2">&nbsp;</div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>

  <table>
      <thead>
        <tr>
          <th>Location</th>
          <th>Next Session</th>
          <th>Members</th>
          <th>Productivity Level</th>
        </tr>
      </thead>
      <tbody>
        {% for sg in study_groups %}
          <tr>
          <td>
            <a href="{{ url_for("studygroups_bp.detail", sgid=sg.id) }}">{{ sg.location }}</a>
          </td>
          {% set x = sg.get_next_session().datetime %}
          <td>{% if x %}{{ x }}{% else %}None{% endif %}</td>
          <td>{{ sg.number_of_members }}</td>
          <td>{{ sg.productivity }}</td>
          <td>
            <a href="#{{ sg.id }}">Contact Organiser</a>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% for sg in study_groups %}
      <div id="{{ sg.id }}" class="modalDialog">
	      <div>
          <a href="#close" title="Close" class="close">X</a>
          <h5>Contact The Organiser</h5>
          <form action="{{ url_for("studygroups_bp.contact_organiser", lessonid=lesson.id) }}" method="post">
              {{ render_field(contact_form.csrf_token) }}
              {{ contact_form.study_group(value=sg.id) }}

              {{ render_field(contact_form.message) }}

              <button type="submit">Contact</button>
          </form>
        </div>
      </div>
    {% endfor %}
{% endblock %}

{% block js %}
  {{super()}}
  <script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  })
  </script>
{% endblock %}
