{% extends 'layout.html' %}
{% from 'macros.html' import render_lesson_tabs %}
{% block title %}{{ lesson.lesson_name}}{% endblock %}
{% block main %}
  {{ render_lesson_tabs('studygroups', lesson.id) }}
  <table>
      <thead>
        <tr>
          <th>Location</th>
          <th>Next Session</th>
          <th>Members</th>
          <th>Productivity Level</th>
        </tr>
      </thead>
      <tbody>
        {% for sg in study_groups %}
          <tr>
          <td>
            <a href="{{ url_for("studygroups_bp.detail", sgid=sg.id) }}">{{ sg.location }}</a>
          </td>
          {% set x = sg.get_next_session().datetime %}
          <td>{% if x %}{{ x }}{% else %}None{% endif %}</td>
          <td>{{ sg.number_of_members }}</td>
          <td>{{ sg.productivity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}