.visually-hidden {
  @extend %visuallyhidden;
}

.tab > .active {
    border-bottom: 2px #ee6e73 solid;
}

form div:last-of-type > input[type="checkbox"] + label {
    margin-bottom: 1.5em;
}

#nav-title {
  margin-left: 120px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  #nav-title {
      margin-left: auto;
  }
}

.horizontal-ul li {
    display: inline;
    padding: 1em;
}

.grey-text-imp {
  color: grey !important;
}

$formCol: #5FB7F4;

@import "vendor/tp";
@import "modules/all";
@import "partials/base";

// Text inputs
.false_input {
  @extend .primary;
  border-bottom: solid 1px $primaryCol;
  display: block;
  height: 3rem;
  padding-top: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  font: inherit;
}