{% set active="search" %}
{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs, render_semester_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block page %}
  {% if semesters|length > 0 %}
    {{ render_semester_tabs(semesters, semester_enum) }}
  {% endif %}
  {% if semesters|length < 1 %}
    <h5 class="no-content-message">No Students Available</h5>
  {% else %}
    <div class="section">
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Willing to provide:</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr  semester="{{ user['semester'] }}" year="{{ user['year'] }}">
              <td>{{ user['name'] }}</td>
              <td>{{ user['email'] }}</td>
              <td>{{ user['options']|join(", ") }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  {% endif %}
{% endblock %}
{% block js %}
  {{super()}}
  <script>
      $(document).ready(function() {
          var active = $('.semester-tab > a.active')[0].parentElement;
          var year = $(active).attr('year');
          var semester = $(active).attr('semester');
          $('tr').hide();
          $('tr[year="' + year + '"][semester="' + semester + '"]').show();
          $('.semester-tab').click(
            function (e) {
              var year = $(this).attr('year');
              var semester = $(this).attr('semester');
              $('tr').hide();
              $('tr[year="' + year + '"][semester="' + semester + '"]').show();
            }
          );
      });
  </script>
{% endblock %}