{% set active="search" %}
{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs, render_semester_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block page %}
  {% if semesters|length > 0 %}
  <div class="col s2">
    {{ render_semester_tabs(semesters, semester_enum) }}
  </div>
  {% endif %}
  {% if semesters|length < 1 %}
    <h5 class="no-content-message">No Students Available</h5>
  {% else %}
    <div class="col s10">
      <table class="highlight">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Willing to provide:</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr class="student" semester="{{ user['semester'] }}" year="{{ user['year'] }}">
              <td>{{ user['name'] }}</td>
              <td>{{ user['email'] }}</td>
              <td>{{ user['options']|join(", ") }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  {% endif %}
{% endblock %}
{% block js %}
  {{super()}}
  <script>
      $(document).ready(function() {
          var active = $('.semester-tab.active');
          var year = $(active).attr('year');
          var semester = $(active).attr('semester');
          $('.student').hide();
          $('.student[year="' + year + '"][semester="' + semester + '"]').show();
          $('.semester-tab').click(
            function (e) {
              var year = $(this).attr('year');
              var semester = $(this).attr('semester');
              $('.student').hide();
              $('.student[year="' + year + '"][semester="' + semester + '"]').show();
            }
          );
      });
  </script>
{% endblock %}