{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Add Note{% endblock %}
{% block main %}
  <div class="container">
  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
    <form method="post" enctype="multipart/form-data" id="add-note-form">

      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
      <button type="button" class="waves-effect waves-light btn-large" id="submit">Add Note</button>
    </form>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ static_url }}js/upload_note.js"></script>
{% endblock %}
