{% set active = 'notes' %}
{% extends 'class_layout.html' %}
{% from 'macros.html' import render_lesson_tabs, render_semester_tabs, render_field %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block page %}
<div class="row">
  <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
  </ul>

  <div class="col s2">
    {% if semesters|length > 0 %}
      {{ render_semester_tabs(semesters, semester_enum) }}
    {% else %}
      <h5>No notes found</h5>
    {% endif %}
  </div>

  <div class="col s10">
    <div class="row valign-wrapper">
        <span class="col s1">&nbsp;</span>
      <a class="waves-effect waves-light btn-large modal-trigger col s1 bg-primary" href="#newNoteModal"><i class="fa fa-upload fa-5x"></i></a>
      <div class="col s10 vaglign desc">
        <h5>upload a note</h5>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data" id="add-note-form"
          action="{% if current_user.has_permission('note_admin') %}{{ url_for("notes_bp.add_admin_note", lessonid=lesson.id) }}{% else %}{{ url_for("notes_bp.add_note", lessonid=lesson.id) }}{% endif %}">
      <div id="newNoteModal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h3 class="grey-text-imp">upload a note</h3>

             {% for field in form %}
               {{ render_field(field) }}
             {% endfor %}
             <div class="row">
               <div class="col s2">&nbsp;</div>
               <button type="button" class="waves-effect waves-light btn-large col s8 bg-primary" id="submit">Upload</button>
               <div class="col s2">&nbsp;</div>
             </div>

          </div>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
{#          <a class=" modal-action waves-effect btn-flat primary" id="submit">Upload</a>#}
        </div>
      </div>
     </form>
    {% if semesters|length < 0 %}
      <h5 class="no-content-message">No Lectures</h5>
    {% endif %}
      {% for note in notes %}
        <div class="note-item row valign-wrapper" semester="{{ note.semester }}" year="{{ note.year }}">
          <span class="col s1 ">
            {% if note.has_upvoted(current_user) %}
              <a href="{{ url_for("notes_bp.vote", noteid=note.id, upvote="0") }}" class="valign"><i class="fa fa-thumbs-up fa-lg"></i>  {{ note.votes}}</a>
            {% else %}
              <a href="{{ url_for("notes_bp.vote", noteid=note.id, upvote="1") }}" class="grey-text-imp valign"><i class="fa fa-thumbs-up fa-lg"></i> {{ note.votes }}</a>
            {% endif %}
          </span>
        <span class="col s1 center">
          <i class="fa fa-file primary fa-3x center"></i>
      </span>
          <span class="col s9">
            <a href="{{ uploads_url }}notes/{{ note.s3_filename }}" class="filename_title">{{ note.filename }} - <span class="note_date">{{note.original_filename}}</span></a>
            <p class="note_description">{{note.description}}</p>
            <p class="note_date">{{note.datetime.strftime("%m/%d/%Y")}}</p>
          </span>
          <span class="col s1 pull-s2">
            <a  href="{{ uploads_url }}notes/{{ note.s3_filename }}"><i class="material-icons left valign ">file_download</i></a>
          </span>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %}
{{super()}}
  <script>
      $(document).ready(function() {
          var active = $('.semester-tab.active');
          var year = $(active).attr('year');
          var semester = $(active).attr('semester');
          $('.note-item').hide();
          $('.note-item[year="' + year + '"][semester="' + semester + '"]').show();

          $('.semester-tab').click( function (e) {
            $('.semester-tab').removeClass('active');
            var year = $(this).attr('year');
            var semester = $(this).attr('semester');
            $(this).addClass('active');
            $('.note-item').hide();
            $('.note-item[year="' + year + '"][semester="' + semester + '"]').show();
          });
      });
  </script>
    <script src="{{ static_url }}js/upload_note.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
})
</script>
{% endblock %}
