{% extends 'layout.html' %}
{% from 'macros.html' import render_lesson_tabs %}
{% block title %}{{ lesson.lesson_name }}{% endblock %}
{% block main %}
  {{ render_lesson_tabs('notes', lesson.id) }}
  <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  <table class="striped">
    <thead>
      <tr>
        <td>Lecture</td>
        <td>Number Of Files</td>
        <td>Files</td>
      </tr>
    </thead>
    <tbody>
      {% for lecture in lectures %}
        <tr>
          <td>{{ lecture.name }}</td>
          <td>{{ lecture.number_of_files }}</td>
          <td>{% for note in notes[lecture.id] %}<a href="https://s3-us-west-2.amazonaws.com/beatthecurve/notes/{{ note.filename }}">{{ note.filename }}</a>{% endfor %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}