{% set join_lesson=True %}
{% extends 'li_layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Join classes{% endblock %}
{% block content %}
    <h3>Class enrollment</h3>

    <div id="class-select">
        {% raw %}
        <div class="row">
            <div class="available_classes col s6">
                <input type='search' autocomplete='off' id='selectableSearch' class="primary" v-model="name" placeholder='Search for a lesson'>

                <ul class="collection">
                    <li class="collection-item" v-for="(key, l) in lessons | filterBy name in 'name'" v-if="!l.is_attended" >
                        {{ l.name }}
                        <button class=" secondary-content" lesson_id="{{ l.id }}" v-on:click="toggle_attendance(l.id)">
                            <i class="fa fa-plus" v-if="!l.is_loading"></i>
                            <i class="fa fa-circle-o-notch fa-spin" v-else></i>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="joined_classes col s4 push-s2">
                <span class="false_input">Current Courses</span>

                <ul class="collection with-header">
                    <li class="collection-item" v-for="(key, l) in lessons" v-if="l.is_attended" >
                        {{ l.name }}
                        <button lesson_id="{{ l.id }}" v-on:click="toggle_attendance(l.id)" class="secondary-content">
                            <i class="fa fa-times" v-if="!l.is_loading"></i>
                            <i class="fa fa-circle-o-notch fa-spin" v-else></i>
                        </button>
                    </li>
                </ul>

            </div>
        </div>
        <div id="confirm_btn" class="btn" v-bind:class="{ 'disabled': !has_changed}">
            Confirm Changes
        </div>
        {% endraw %}
    </div>


{% endblock %}
{% block js %}
{{super()}}
    <script>
        Array.prototype.clean = function(deleteValue) {
          for (var i = 0; i < this.length; i++) {
            if (this[i] == deleteValue) {
              this.splice(i, 1);
              i--;
            }
          }
          return this;
        };

        var lessons = {
        {% for l in get_unattended_lessons(current_user) %}
            {{ l.id }} : {
                name: "{{ l.lesson_name }}", id: {{ l.id }},originally_attended:false , is_attended:false, is_loading:false
            },
        {% endfor%}
        {% for l in get_lessons(current_user) %}
            {{ l.id }}: {
                name: "{{ l.lesson_name }}", id: {{ l.id }},originally_attended:true , is_attended:true, is_loading:false
            },
        {% endfor%}
        };
        //lessons = lessons.clean(undefined);

        function haveLessonsChanged() {
            for (var i = 0; i < lessons.length; i++) {
                l = lessons[i];
                if (l.originally_attended != l.is_attended) {
                    return true;
                }
            }
            return false;
        }

        function getChangedLessons() {
            var res = {'joined': [], 'left': []};
            for (var i = 0; i < lessons.length; i++) {
                l = lessons[i];
                if (l.originally_attended != l.is_attended) {
                    if (l.is_attended) {
                        res.joined.push(l.id);
                    } else {
                        res.left.push(l.id);
                    }
                }
            }
            return res;
        }

        v = new Vue({
            el: '#class-select',
            data: {
                has_changed: false,
                lessons: lessons
            },
            methods: {
                toggle_attendance: function (index) {
                    console.log(index);
                    lesson = this.lessons[index];
                    lesson.is_attended = !lesson.is_attended;
                    this.has_changed = lesson.is_attended != lesson.originally_attended;
                }
            }
        });

        $("#confirm_btn").click(function () {
            if (!$(this).hasClass("disabled")) {
                console.log("Joined: " + getChangedLessons().joined);
                console.log("Left: " + getChangedLessons().left);
                $.post('/lessons/attend-class', getChangedLessons(), function (data, textStatus, jqXHR) {
                    if (data.success) {
                        //swal = sweetAlert;
                        swal({
                            title: "Success",
                            text: "Your classes have been changed, the page will now reload",
                            type: "success"
                        }, function () {
                            location.reload();
                        });
                    } else {
                        swal({
                            title: "Oh noes!",
                            text: "There was an error changing your classes :( " + "<br><pre>" + data.errors + "</pre>",
                            type: "error",
                            html: true
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}
