{% set join_lesson=True %}
{% extends 'li_layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Join classes{% endblock %}
{% block content %}
  {#<ul class="collection with-header">
    {% for l in get_lessons(current_user) %}
      {% if loop.first %}<li class="collection-header"><h4>Joined Classes</h4></li>{% endif %}
      <li class="collection-item"><a href="{{ url_for("notes_bp.view", lessonid=l.id) }}">{{ l.lesson_name }}</a></li>
    {% endfor %}
  </ul>

  <h3>Join a new class</h3>
  <form method="post" id="add-lesson-form">
      <div class="row">
          <input type='text' autocomplete='off' class="col s6" id='selectableSearch' placeholder='Search for a lesson'>
      </div>
    {% for field in form %}
      {{ render_field(field) }}
    {% endfor %}
    <div class="row">
      <!-- <span class="col s1">&nbsp;</span> -->
      <button type="submit" class="col s12 waves-effect waves-light btn-large">Add</button>
      <!-- <span class="col s1">&nbsp;</span> -->
    </div>
  </form>#}

    <h3>Class enrollment</h3>

    <div id="class-select">
        {% raw %}
        <div class="row">
            <div class="available_classes col s6">
                <input type='search' autocomplete='off' id='selectableSearch' class="primary" v-model="name" placeholder='Search for a lesson'>

                <ul class="collection">
                    <li class="collection-item" v-for="l in lessons | filterBy name in 'name'" v-if="!l.is_attended" >
                        {{ l.name }}
                        <button class=" secondary-content" lesson_id="{{ l.id }}" v-on:click="toggle_attendance($index)">
                            <i class="fa fa-plus" v-if="!l.is_loading"></i>
                            <i class="fa fa-circle-o-notch fa-spin" v-else></i>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="joined_classes col s4 push-s2">
                <span class="false_input">Current Courses</span>

                <ul class="collection with-header">
                    <li class="collection-item" v-for="l in lessons" v-if="l.is_attended" >
                        {{ l.name }}
                        <button lesson_id="{{ l.id }}" v-on:click="toggle_attendance($index)" class="secondary-content">
                            <i class="fa fa-times" v-if="!l.is_loading"></i>
                            <i class="fa fa-circle-o-notch fa-spin" v-else></i>
                        </button>
                    </li>
                </ul>

            </div>
        </div>
        <div id="confirm_btn" class="btn" v-bind:class="{ 'disabled': !has_changed}">
            Confirm Changes
        </div>
        {% endraw %}
    </div>


{% endblock %}
{% block js %}
{{super()}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js"></script>
    <script>
        Array.prototype.clean = function(deleteValue) {
          for (var i = 0; i < this.length; i++) {
            if (this[i] == deleteValue) {
              this.splice(i, 1);
              i--;
            }
          }
          return this;
        };

        var lessons = [
                {% for l in get_unattended_lessons(current_user) %}
                    {name: "{{ l.lesson_name }}", id: {{ l.id }}, originally_attended:false ,is_attended: false, is_loading: false },
                {% endfor%}
                {% for l in get_lessons(current_user) %}
                    {name: "{{ l.lesson_name }}", id: {{ l.id }}, originally_attended:true ,is_attended: true, is_loading: false },
                {% endfor%}
        ];
        lessons = lessons.clean(undefined);

        function have_lessons_changed() {
            for (var i = 0; i < lessons.length; i++) {
                l = lessons[i];
                if (l.originally_attended != l.is_attended) {
                    return true;
                }
            }
            return false;
        }

        v = new Vue({
            el: '#class-select',
            data: {
                has_changed: false,
                lessons: lessons
            },
            methods: {
                toggle_attendance: function (index) {
                    lesson = this.lessons[index];
                    lesson.is_attended = !lesson.is_attended;
                    this.has_changed = have_lessons_changed();
                }
            }
        });

        $("#confirm_btn").click(function () {
            if (!$(this).hasClass("disabled")) {
                console.log("conf");
            }
        });
    </script>
{#<script>
  $(document).ready(function () {
    for (var i = 0; i < $("#lessons").siblings().length; i++) {
      var item = $("#lessons").siblings()[i];
      $(item).hide();
    }
    $("label").hide();
    lessons_select = $("#lessons");
    $("option[value='-1']").attr("disabled", "");
    lessons_select.show();
    lessons_select.multiSelect({
      selectableHeader: "<div class='select-header'>Available Classes</div>",
      selectionHeader: "<div class='selection-header'>Classes to join</div>",
      afterInit: function(ms){
      var that = this,
          // $selectableSearch = that.$selectableUl.prev(),
          // $selectionSearch = that.$selectionUl.prev(),
           selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
           selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

          selectableSearch = $("#selectableSearch");
          selectionSearch = $("#selectionSearch");
          //selectableSearchString


        that.qs1 = selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            //that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            //that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });
    // lessons_select.attr("size",lessons_select.children().size());
  });
</script>#}
{% endblock %}
