{% set join_lesson=True %}
{% extends 'li_layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Add Lessons{% endblock %}
{% block content %}
<br>
  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
    <form method="post">
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
      <div class="row">
        <!-- <span class="col s1">&nbsp;</span> -->
        <button type="submit" class="col s12 waves-effect waves-light btn-large">Add</button>
        <!-- <span class="col s1">&nbsp;</span> -->
      </div>
    </form>
{% endblock %}
{% block js %}
{{super()}}
<script>
  $(document).ready(function () {
    for (var i = 0; i < $("#lessons").siblings().length; i++) {
      var item = $("#lessons").siblings()[i]; 
      $(item).hide();
    }
    $("label").hide();
    lessons_select = $("#lessons");
    lessons_select.show();
    lessons_select.multiSelect({
      selectableHeader: "<div class='select-header'>Available Classes</div>",
      selectionHeader: "<div class='selection-header'>Classes to join</div>"
    });
    // lessons_select.attr("size",lessons_select.children().size());
  });
</script>
{% endblock %}
