{% set create_lesson=True %}
{% extends 'li_layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Create Lesson{% endblock %}
{% block content %}
  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
    <form method="post">
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
      <div class="row">
        <!-- <span class="col s1">&nbsp;</span> -->
        <button type="submit" class="col s12 waves-effect waves-light btn-large">Create</button>
        <!-- <span class="col s1">&nbsp;</span> -->
      </div>
    </form>

{% endblock %}
