@import "main_container";
@import "landing";
@import "class_dropdown";
@import "class_layout";
@import "chat";
@import "tabs";
@import "select";
@import "forum";
@import "note_files";

html {
  background-color: $bgCol;
}

hr {
  border: solid color("grey", "lighten-2");
  margin-top: 2em;
  margin-bottom: 2em;
}

.pad0 {
  padding: 0 !important;
}

.pad_t0 {
  padding-top: 0 !important;
}

.comment {
	padding-top: 1em;
}

.dropdown-content {
  z-index: 999999;
  margin-bottom: 20px;
}

.dropdown-content > li > span{
  @extend .primary;
}