@import "main_container";
@import "landing";

html {
  background-color: $bgCol;
}

hr {
  border-style: solid;
  border-color: color("grey", "lighten-2");
  margin-top: 2em;
  margin-bottom: 2em;
}

.pad0 {
  padding: 0px !important;
}

.pad_t0 {
  padding-top: 0px !important;
}
