.chat-message {
	width: 60%;
	.name {
		color: color("grey", "base");
	}
	.date {
		color: color("grey", "base");
		@extend .right;
	}
	.content {
      background-color: color("grey", "lighten-2");
      color: color("grey", "base");
      padding: 1em;
      border-radius: 0.5em;
      padding-left: 2em;
      padding-right: 2em;
      box-sizing: border-box;
	}

	&.you {
		@extend .right;
		.content {
			clear: both;
			background-color: $primaryCol;
			color: white;
		}
		.name {
			@extend .right;
		}
		.date {
			@extend .left;
		}
	}

	@extend .left;
	margin-bottom: 1em;
}

.chat_box { 
	padding: 0px;
	#chat_box{
		padding: 1em;
		overflow-y: scroll;
		height: 30em;
	}
	.send-box {
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: color("grey", "lighten-2");
		background-color: white;
		display: block;
		clear: both;
		margin: 0px;
		padding: 2px;
		#room_data {
			margin: 0px;
			border-bottom: 0 !important;
			color: $greyText;
			&:hover, &:focus {
				border-bottom: 0 !important;
				box-shadow: none !important;
			}
		}
		[type="submit"] {
			background-color: white;
			border-style: none;
			border-width: 0px;
			color: color("grey", "base");
			padding-top: 13px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.user_listing {
	min-height: 34em;
	margin-left: 2em;
	background-color: $lightBlue;
}