.class-page-nav {
  margin-top: 0;
  padding-left: 1em;
  .class-nav-item {
    &:first-child {
      margin-top: 0;
    }
    margin-top: 1.85vh;
    margin-bottom: 1.85vh;
    color: #979797;
    a {
      color: inherit;
    }
    &.active {
      color: #5FB7F4;
    }
  }

  .divider {
    background-color: $primaryCol;
  }
}

.semester-title {
  @extend .bg-primary;
  color: white !important;
  height: 56px;
  line-height: 56px;
  margin-bottom: 20px;
  text-align: center;
}

#semesters {
  border: 0!important;
}

.semester-tab {
  background-color: #F8FDFC !important;

  a{ height: 3.7vh; line-height: 3.7vh; color: #979797 !important;}

  //border-bottom: 0 !important;

  &.active {
    background-color: #BFE0FA !important;
    color: #FFF !important;
    a {
      color: #FFF !important;
    }

  }
}

.filename_title {
  font-size: 1.1em;
  color: #BFE0FA;
}

.note_description {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: #979797;
}

.desc {
  @extend .note_description;
}

.note_date {
  @extend .note_description;
  font-size: 0.8em;
  color: #A8A8A8;
}

.vote {
  color: #979797 !important;
}

.vote_voted {
  color: #5FB7F4 !important;
}
