.class-page-nav {
  padding-left: 1em;
  .class-nav-item {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    color: color("grey", "base");
    a {
      color: inherit;
    }
    &.active {
      color: color("blue", "base");
    }
  }

  .divider {
    background-color: $primaryCol;
  }
}

.semester-tab {
  background-color: $bgCol !important;

  color: $greyText !important;

  a {
    color: inherit !important;
  }
}

.filename_title {
  color: darken($lightBlue,5);;

}
