main {
  @extend .card-panel;
  margin: 10%;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.61);
  padding: 0px;
  padding-top: 30px;

  .card-action {
    padding: 30px;
    background-color: $bgCol;
    text-align: center;
    font-size: 1.3em !important;
    color: $lightBlue;
    a {
      color: $lightBlue;
    }
    .chevron_right {
      font-size: 32px;
      line-height: normal;
    }
  }
}

.page_title {
  text-align: center;
  color: $primaryCol;
  margin-top: 7%;
  font-size: 2.5em;
}

.content_title {
  text-align: center;
  color: $primaryCol;
  font-size: 2.2em;
}
