._tab {
	// Idk
	&.active {
		// idk
	}
}
.title {
  padding-top: .5em;
  padding-bottom: .5em;
}
._tabs {
  @extend .valign-wrapper;
  margin:  0;
  padding: 0;
  list-style: none;
  display: table; /* [1] */
  table-layout: fixed; /* [2] */
  width: 100%; /* [3] */
  .tabs_item {
    @extend .valign;
    &:not(:first-child) {
      //border-left: $lightBlue solid 2px;
      &.active {
        border-left: 0;
      }
    }
    text-align: center;
    //padding: 1em;
    height: 7.47vh;
    line-height: 7.47vh;
    display: table-cell; /* [4] */
    background-color: #BFE0FA;
    color: #FFF !important;
    a {
      color: inherit !important; /* [5] */
    }
    box-shadow: inset 0 0 5px #999;
    &.active {
      border-top: 1px solid #BBB;
      background-color: #FFF;
      color: #5FB7F4;
      a {
        color: #5FB7F4 !important; /* [5] */
      }
      box-shadow: inset 0 0 0px #000;
    }
    .tabs_link {
      display: block; /* [5] */
    }
  }
}