{% extends 'li_layout.html' %}
{% block container %}
  <div class="row">
    <div class="col s2">
      <ul class="class-page-nav">

        <li class="class-nav-item {% if active == "forum" %}active{% endif %}"><a href="{{ url_for('qa_bp.view', lessonid=lesson.id) }}">Forum</a></li>
        <li class="class-nav-item {% if active == "notes" %}active{% endif %}"><a href="{{ url_for('notes_bp.view', lessonid=lesson.id) }}">Notes</a></li>
        <li class="class-nav-item {% if active == "exams" %}active{% endif %}"><a href="{{ url_for('exams_bp.view', lessonid=lesson.id) }}">Exams</a></li>
        <li class="class-nav-item {% if active == "studygroups" %}active{% endif %}"><a href="{{ url_for('studygroups_bp.view', lessonid=lesson.id) }}">Study Groups</a></li>
        <li class="class-nav-item {% if active == "chat" %}active{% endif %}"><a href="{{ url_for('chat_bp.index', lessonid=lesson.id) }}">Chat</a></li>
        <li class="class-nav-item {% if active == "search" %}active{% endif %}"><a href="{{ url_for('search_bp.view', lessonid=lesson.id) }}">Search</a></li>
        {% if g.user.has_any_permission(['lecture_admin', 'discussion_admin']) %}
        <li class="class-nav-item {% if active == "admin" %}active{% endif %}"><a href="{{ url_for('auth_bp.admin', lessonid=lesson.id) }}">Admin</a></li>
        {% endif %}
        <li class="divider"></li>
        <li class="class-nav-item"><a href="#!">Classes</a></li>
        <li class="class-nav-item"><a href="/profile">Your profile</a></li>
      </ul>
    </div>
    <div class="col s10">
      {% block page %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
