{% set applicationName = "curvit" %}
<!DOCTYPE html>
<html {% if not card %}class="white"{% endif %}>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="{{ static_url }}css/materialize.min.css"  media="screen,projection"/> -->
    <link href="{{ static_url }}css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ static_url }}css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{{ applicationName }}{% endblock %}</title>

    <script src="{{ static_url }}swal/dist/sweetalert.min.js"></script> <link rel="stylesheet" type="text/css" href="{{ static_url }}swal/dist/sweetalert.css">
  </head>
  <body>

   {% if card %} <main class="pad_t0 {% if small %}small{% endif %}"> {% endif %}
      {% block main %}
      {% endblock %}
    {% if card %}</main>{% endif %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}js/main.js"></script>
    <script src="{{static_url}}js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="{{static_url}}js/jquery.quicksearch.js" type="text/javascript"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.min.js"></script>#}
    <script>
      var picker = $('input[type="date"]').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });

      $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top - 10
        }, 500);
        return false;
      }
    }
  });
});

      // $('input[type="time"]').timepicker({timeformat: "HH:mm", show2400: true});
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
