 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ static_url }}css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="{{ static_url }}css/main.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <nav>
        <a href="#" class="brand-logo center">{% block title %}{% endblock %}</a>
        <ul id="slide-out" class="side-nav">
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for("auth_bp.profile") }}">Profile</a></li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Classes<i class="mdi-navigation-arrow-drop-down"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="{{ url_for("lesson_bp.add") }}">Add</a></li>
                      {% for lesson in get_lessons(current_user) %}
                        <li><a href="{{ url_for("notes_bp.view", lessonid=lesson.id) }}">{{ lesson.lesson_name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="{{ url_for("auth_bp.logout") }}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for("auth_bp.login") }}">Login</a></li>
            <li><a href="{{ url_for("auth_bp.signup") }}">Sign Up</a></li>
          {% endif %}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
      </nav>

      <main class="">
        {% block main %}
        {% endblock %}
      </main>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ static_url }}js/materialize.min.js"></script>
      <script type="text/javascript" src="{{ static_url }}js/main.js"></script>
      {% block js %}{% endblock %}
    </body>
  </html>