{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Beat the curve{% endblock %}
{% block main %}

    {% block page_title %}{% endblock %}
<!-- Dropdown Trigger -->
<div class="row">
  <!-- <a class='col s12 center class_drop_btn' href='#' data-activates='class_drop'>{% if lesson %}{{lesson.lesson_name}}{% else %} Lessons {% endif %}</a> -->
    <div class="col s12 center primary"><h4 class="title">{{ applicationName }}</h4></div>
  <ul id='class_drop' class='_tabs'>
  {% if g.user.has_permission('lesson_admin') %}
    <li class="tabs_item {% if create_lesson %}active{% endif %}"><a href="{{ url_for("lesson_bp.create") }}">Create Class</a></li>
  {% endif %}
    <li class="tabs_item {% if join_lesson %}active{% endif %}"><a href="{{ url_for("lesson_bp.add") }}">Join Class</a></li>
    <!-- <li class="divider"></li> -->
      {% for l in get_lessons(current_user) %}
        <li class="tabs_item {% if lesson and l.id == lesson.id %}active{% endif %}">
          {% if request.endpoint in ["notes_bp.view", "qa_bp.view", "exams_bp.view", "studygroups_bp.view", "chat_bp.index", "search_bp.view"] %}
            <a href="{{ url_for(request.endpoint, lessonid=l.id) }}">{{ l.lesson_name }}</a>
          {% else %}
            <a href="{{ url_for("notes_bp.view", lessonid=l.id) }}">{{ l.lesson_name }}</a>
          {% endif %}
        </li>
      {% endfor %}
  </ul>
</div>

<!-- Dropdown Structure -->



    <div class="container pad">
    {% block container %}
    <ul>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <li class="message card-panel {{category}}">{{ message }}</li>
    {% endfor %}
  </ul>

      {% block content %}
      {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
