{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Beat the curve{% endblock %}
{% block main %}

    {% block page_title %}{% endblock %}
<!-- Dropdown Trigger -->
<div style="margin-bottom: 7.41vh;">
    <div id="topWrapper" style="z-index: 4444; background-color: white">
  <!-- <a class='col s12 center class_drop_btn' href='#' data-activates='class_drop'>{% if lesson %}{{lesson.lesson_name}}{% else %} Lessons {% endif %}</a> -->
    <div class="col s12 center primary"><h4 style="margin-top: 0;" class="title">{{ applicationName }}</h4></div>
  <ul id='class_drop' class='_tabs'>
  {% if g.user.has_permission('lesson_admin') %}
    <li class="tabs_item  {% if create_lesson %}active{% endif %}"><a href="{{ url_for("lesson_bp.create") }}">Create Class</a></li>
  {% endif %}
    <li class="tabs_item {% if join_lesson %}active{% endif %}"><a href="{{ url_for("lesson_bp.add") }}">Join Class</a></li>
    <!-- <li class="divider"></li> -->
      {% for l in get_lessons(current_user) %}
        <li class="tabs_item {% if lesson and l.id == lesson.id %}active{% endif %}">
          {% if request.endpoint in ["notes_bp.view", "qa_bp.view", "exams_bp.view", "studygroups_bp.view", "chat_bp.index", "search_bp.view"] %}
            <a href="{{ url_for(request.endpoint, lessonid=l.id) }}">{{ l.code }}</a>
          {% else %}
            <a href="{{ url_for("notes_bp.view", lessonid=l.id) }}">{{ l.code }}</a>
          {% endif %}
        </li>
      {% endfor %}
  </ul>
</div>
</div>

<!-- Dropdown Structure -->



    <div class="pad">
    {% block container %}
    <ul>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <li class="message card-panel {{category}}">{{ message }}</li>
    {% endfor %}
  </ul>

      {% block content %}
      {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="http://stickyjs.com/jquery.sticky.js" type="text/javascript"></script>
    <script>$(document).ready(function () {
            //pad = window.innerHeight * 7.47;
            var pad = $("#topWrapper").height() + window.innerHeight * 0.0747;

            if ($("#lesson-tabs")) {
                $("#lesson-tabs").sticky({topSpacing:pad, getWidthFrom: '#sem_col'});
            }
            if ($(".class-page-nav")) {
                $(".class-page-nav").sticky({topSpacing:pad, getWidthFrom: '#class_nav_wrap'});
            }
            $("#topWrapper").sticky({topSpacing:0, getWidthFrom: 'html'});
        });
    </script>
{% endblock %}