{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {%  for error in field.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if field.type != "CSRFTokenField" and field.type != "SubmitField" %}
            <label for="{{ field.id }}">{{ field.label.text }}</label>
        {% endif %}
        {{ field(placeholder=field.label.text, class="form-control") }}
    </div>
{%  endmacro %}