{% macro render_field(field, useLabel=false) %}
        {% if field.errors %}
            {%for error in field.errors %}
                <div class="red-text">{{ error }}</div>
            {% endfor %}
        {% endif %}
    {% if field.type == "FileField" %}
      <div class="file-field input-field">
        <div class="btn bg-primary">
          <span>File</span>
          {{ field() }}
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    {% else %}
      <div class="input-field">
          {% if field.type == "TextAreaField" %}
            {{ field(class_="materialize-textarea", placeholder=field.label.text) }}
          {% elif field.type == "DateField" %}
            {{ field(class_="datepicker") }}
          {% else %}
              {% if useLabel %}
                {{ field() }}
              {% else %}
                {{ field(placeholder=field.label.text) }}
              {% endif %}
          {% endif %}
      {% if field.type not in ["CSRFTokenField", "SubmitField", "TimeField",  "HiddenField"] and useLabel %}
              <label for="{{ field.id }}">{{ field.label.text }}</label>
          {% endif %}
      </div>
  {% endif %}
{%  endmacro %}

{% macro render_lesson_tabs(active, lessonid) %}
  <div id="lesson-tabs">
    <div>
      <ul class="tabs">
        <li class="tab"><a target="_self" class="{% if active == "notes" %}active{% endif %}" href="{{ url_for('notes_bp.view', lessonid=lessonid) }}">Notes</a></li>
        <li class="tab"><a target="_self" class="{% if active == "qa" %}active{% endif %}" href="{{ url_for('qa_bp.view', lessonid=lessonid) }}">Q&A</a></li>
        <li class="tab"><a target="_self" class="{% if active == "exams" %}active{% endif %}" href="{{ url_for('exams_bp.view', lessonid=lessonid) }}">Exams</a></li>
        <li class="tab"><a target="_self" class="{% if active == "studygroups" %}active{% endif %}" href="{{ url_for('studygroups_bp.view', lessonid=lessonid) }}">Study Groups</a></li>
        <li class="tab"><a target="_self" class="{% if active == "chat" %}active{% endif %}" href="{{ url_for('chat_bp.index', lessonid=lessonid) }}">Chat</a></li>
        <li class="tab"><a target="_self" class="{% if active == "search" %}active{% endif %}" href="{{ url_for('search_bp.view', lessonid=lessonid) }}">Search</a></li>
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro render_semester_tabs(semesters, semester_enum) %}
  <div id="lesson-tabs">
    <div>
      <div class="bg-primary white semester-title">Select Semester</div>
      <ul class="collection" id="semesters">
        {% for semester in semesters %}
          <li class="collection-item semester-tab center {% if loop.first %}active{% endif %}" semester="{{ semester[1] }}" year="{{ semester[0] }}"><a target="_self" href="#{{ semester_enum[semester[1]] }}{{ semester[0] }}">{{ semester_enum[semester[1]]|capitalize }} {{ semester[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
